<mat-toolbar color="primary">
  <img width="40" alt="Logo Servbees" src="assets/images/logo.png" />
  <span class="spacer"></span>
  <span>Servbees</span>
</mat-toolbar>


<div class="content" role="main">

  <div class="container">

    <mat-tab-group>
      <mat-tab label="Login">
        <div>
          <p></p>
          <div>
            <form class="form">
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Nombre</mat-label>
                <input type="text" name="nombre" [(ngModel)]="usuarioValidador.nombre" matInput />
              </mat-form-field>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Clave </mat-label>
                <input type="text" name="nombre" [(ngModel)]="usuarioValidador.clave" matInput />
              </mat-form-field>
              <div class="center">
                <button (click)="ingresar()" mat-raised-button color="primary">Ingresar</button>
              </div>
            </form>
          </div>

        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <router-outlet></router-outlet>